#search-form {
    width: 100%;
    text-align: center;
}

.search-field {
    display: block;
    width: 60vw;
    margin: auto;
    margin-bottom: 3px;
    border-radius: 10px;
    padding: 0 8px;
}

.submit {
    display: inline-block;
    width: auto;
    margin: auto;
    font-family: sans-serif;
    color: #555;
}

.button {
    width: 100px;
}

.suggestions {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 15vw;
    right: 15vw;
    padding: 0px;
    list-style: none;
    background-color: black;
}

.suggestion-item {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


.suggestion-item:hover{
    background-color: red;
}

.no-suggestion {
}
